.profile {
  display: grid;
  align-items: center;
  grid-template-areas: "avatar info btn";
  grid-template-columns: 1fr 3fr 1fr;
  line-height: 1.15;
  margin-bottom: 50px;
}

.profile__avatar-container {
  position: relative;
  grid-area: avatar;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.profile__avatar-container:hover .profile__avatar {
  opacity: 0.2;
}

.profile__avatar-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 3.45351L6.76981 22.7932L3.33585 19.2903L22.517 0L26 3.45351ZM0 26L5.10189 24.4706L1.52075 21.0171L0 26Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__avatar-container:hover::after {
  opacity: 1;
}

.profile__info {
  color: white;
}

.profile__name {
  font-size: 42px;
}

.profile__name, .profile__btn_edit-info {
  display: inline-block;
  vertical-align: middle;
}

.profile__description {
  font-size: 20px;
  margin-top: 16px;
}

.profile__btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__btn_edit-info {
  width: 24px;
  height: 24px;
  background-color: black;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 1);
  margin: 5px 0 0 10px;
  position: relative;
}

.profile__btn_edit-info svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Ajusta el centro */
}

.profile__btn_add-post {
  grid-area: btn;
  width: 150px;
  height: 50px;
  background-color: black;
  outline: 2px solid rgba(255, 255, 255, 1);
  border: none;
  justify-self: end;
  position: relative;
}

.profile__btn_add-post svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Ajusta el centro */
}

@media screen and (max-width: 584px) {
  .profile {
    grid-template-areas:
      "avatar"
      "info"
      "btn";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }

  .profile__info {
    text-align: center;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__description {
    font-size: 14px;
  }

  .profile__btn_edit-info {
    max-width: 18px;
    max-height: 18px;
    margin-bottom: 5px;
  }

  .profile__btn_add-post {
    max-width: 282px;
    width: 100%;
  }
}

@media screen and (min-width: 584px) and (max-width: 880px) {
  .profile__info {
    margin-left: 30px;
  }

  .profile__name {
    font-size: 32px;
  }

  .profile__description {
    font-size: 18px;
  }

  .profile__btn_edit-info {
    max-width: 20px;
    max-height: 20px;
    margin-bottom: 5px;
  }

  .profile__btn_add-post {
    justify-self: end;
    max-width: 80px;
  }
}